<!-- Conteúdo da página -->
<div class="d-flex justify-content-center">
  <div class="logo-container">
    <%= link_to(root_path, class: "navbar-brand") do %><%= image_tag("logo.png", alt: "Logo") %><% end %>
  </div>
</div>

<div class="d-flex justify-content-center">
  <%= link_to('Cadastrar Transportadora', new_carrier_management_path, class: "button") %>
  <%= link_to('Veículo', vehicle_deliveries_path, class: "button") %>
  <%= link_to('Preços', delivery_prices_path, class: "button") %>
  <%= link_to('Prazos', deadlines_path, class: "button") %>
</div>

<div class="d-flex justify-content-center">
  <% if @carrier_managements.empty? %>
    <p>Não existem galpões cadastrados</p>
  <% end %>
</div>

<div class="d-flex justify-content-center">
  <% @carrier_managements.each do |carrier| %>
    <%= link_to(carrier.fancy_name, carrier_management_path(carrier.id), class: "button") %><br>
    Razão Social: <%= carrier.social_reason %><br>
    Domínio de E-mails: <%= carrier.domain_of_emails %><br>
    CNPJ: <%= carrier.cnpj %><br>
    Endereço para Faturamento: <%= carrier.billing_address %><br>
    Status: <%= carrier.status %><br>
  <% end %>
</div>
